# Operating System Files
.DS_Store
Thumbs.db

# Temporary & Log Files
console.log
dom.html
*.log

# Temporary test screenshots in root
/*.png

# Rust Build Artifacts
target/
**/target/

# Python Cache
__pycache__/
*.pyc

